.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color:darksalmon;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color:darkorange;
}

.weather-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.forecast {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

.forecast-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forecast-item {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 150px;
}

.error {
  color: red;
  font-weight: bold;
}

span{
  font-style: italic;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
  font-family:Georgia, 'Times New Roman', Times, serif;
}